<button class="mt-3" type="button" class="btn btn-primary w-100" {{on "click" (fn (mut this.showModalADD) true)}}>Новый автор</button>

<BsModal @scrollable={{true}} @onHidden={{action this.closeModal}} @open={{this.showModalADD}} as |Modal|>
    <Modal.header>
        <h4 class="modal-title">Добавление</h4>
    </Modal.header>
    <Modal.body>
        <AuthorForm @author={{this.author}} @submit={{this.saveAuthor}} />
    </Modal.body>
    <Modal.footer as |footer|>
        <BsButton @type="danger" @onClick={{action this.closeModal}}>Отменить</BsButton>
        <BsButton @type="success" @onClick={{action Modal.submit}}>Сохранить</BsButton>
    </Modal.footer>
</BsModal>