<BsForm @formLayout="vertical" @model={{this}} {{on "submit" this.saveOrder}} as |form|>
    {{!-- <form.element @controlType="text" @label="Дата" placeholder="Дата" @property="date" required /> --}}

    <form.group>
        <label class="control-label">Готовность</label>
        <EmberFlatpickr @locale="ru" @dateFormat="Y-m-d" @enableTime={{false}} @minDate={{this.minDate}} @allowInput={{true}} @date={{this.date}} @onChange={{this.onChangeDate}} />
    </form.group>

    <form.group>
        <label class="control-label">Книга</label>
        <PowerSelect @searchEnabled={{true}} @onChange={{fn (mut this.book)}} @selected={{this.book}} @search={{action "searchBook"}} as |book|>
            {{book.title}}
        </PowerSelect>
    </form.group>

    <NewBookModal @onSave={{fn (mut this.book)}} />

</BsForm>