<BsModal @onHidden={{action this.closeModal}} @open={{this.showModal}} as |Modal|>
    <Modal.header>
        <h4 class="modal-title">Добавление</h4>
    </Modal.header>
    <Modal.body>
        {{#if this.isLoading}}
        <Spinner />
        {{else}}
        <MeetingForm @orders={{this.model}} @submit={{this.submit}}/>
        {{/if}}
    </Modal.body>
    <Modal.footer as |footer|>
        <BsButton @type="danger" @onClick={{action this.closeModal}}>Отменить</BsButton>
        <BsButton @type="success" @onClick={{action Modal.submit}}>Сохранить</BsButton>
    </Modal.footer>
</BsModal>