<h2>КНИГИ</h2>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<PowerSelect @options={{this.tags}} @selected={{this.tag}} value={{this.tag}} @onChange={{this.handleTagChange}} as |name|>
				{{name}}
			</PowerSelect>

			<LinkTo @route="books.create">
				<button type="button" class="btn btn-primary w-100 mt-3">
					Создать
				</button>
			</LinkTo>
		</div>

		<div class="col-sm">
			{{input type="text" class="form-control mb-3" placeholder="Search by Author Name" value=search}}

			{{#if this.isLoading}}
			<Spinner />
			{{else}}
			<div class="d-flex flex-wrap">
				{{#each this.model as |book|}}
				<BookCard @book={{book}} />
				{{/each}}
			</div>
			
			{{/if}}
		</div>
	</div>
</div>
{{outlet}}